<div class="gv-wrap-all">

  <div class="gv-slide-wrapper" id="slideWrapper">
    <div class="gv-slides-container" id ="slideScroller">
      <div class="gv-slide-item">
        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div> 
        <img src="<%= path %>/assets/slide-1.jpg"  />
      </div>  

      <div class="gv-slide-item">
        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div> 
        <img src="<%= path %>/assets/slide-2.jpg" />
      </div>  

      <div class="gv-slide-item">
        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div> 
        <img src="<%= path %>/assets/slide-3.jpg"  />
      </div>  

      <div class="gv-slide-item">

        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div>  
        <img src="<%= path %>/assets/slide-4.jpg" />
      </div>  



     </div> 
  </div>
</div>