<div class="gv-wrap-all">

  <div class="gv-slide-wrapper" id="slideWrapper">
    <div class="gv-slides-container" id ="slideScroller">

      <div class="gv-slide-item">
        <div class="gv-slide-item-text opening" id="introCappy">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div> 
        <img data-src="<%= path %>/assets/platforms/1.jpg"  class="lazyload" />
      </div>  

      <div class="gv-slide-item">
        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div> 
        <img data-src="<%= path %>/assets/platforms/2.jpg" class="lazyload" />
      </div>  

      <div class="gv-slide-item">
        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div> 
        <img data-src="<%= path %>/assets/platforms/3.jpg"  class="lazyload" />
      </div>  

      <div class="gv-slide-item">

        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div>  

            <img data-src="<%= path %>/assets/platforms/4.jpg" class="lazyload" />
        
        </div>  

     </div> 
  </div>
</div>