<div class="gv-wrap-all">

  <div class="gv-slide-wrapper" id="slideWrapper">
    <div class="gv-slides-container" id ="slideScroller">

      <div class="gv-slide-item">
        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div> 
        <img data-src="<%= path %>/assets/platforms/1.jpg"  class="lazyload" />
      </div>  

      <div class="gv-slide-item">
        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div> 
        <img data-src="<%= path %>/assets/platforms/2.jpg" class="lazyload" />
      </div>  

      <div class="gv-slide-item">
        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div> 
        <img data-src="<%= path %>/assets/platforms/3.jpg"  class="lazyload" />
      </div>  

      <div class="gv-slide-item">

        <div class="gv-slide-item-text">
          <h3>Here head here</h3>
          <p>Some explainer text here …</p>
        </div>  

            <img data-src="<%= path %>/assets/platforms/4.jpg" class="lazyload" />
        
        </div>  

     </div> 
  </div>


  <div class="gv-intro-panel">
    <div class="gv-intro-panel-text">
     <h3>Photos of NYC</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
     <h5>Scroll to see more</h5>
    </div>
  </div>


  
</div>