$mobile-max-h: 400px;
$desktop-max-h: none;

$cappy-h-desktop: 216px;


.gv-slide-wrapper{
	position:relative;
	width:auto;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	@include mq(desktop){
		overflow-x: hidden;
    	overflow-y: hidden;
	}
	
	&.fixed{
		position:fixed;
		top: 0;
	}
}

.gv-wrap-all{
	width:100%;
	overflow-x: hidden;
    overflow-y: hidden;
	
}

.gv-slides-container{
	position:relative;
	height: 100vh;
	padding-top:12px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    word-spacing:0;
    background-color:#000;
    @include mq(desktop){
    	height: 100vh;
		overflow-x: hidden;
    	overflow-y: hidden;
	}	
}

.gv-slide-item{
	position: relative;
	display:inline-block;	
	width:auto;
	height: 100%;
	// max-height: $mobile-max-h;

	img{
		height:100%;
		
	}

	@include mq(desktop){
		//max-height: $desktop-max-h;
		img{
			height:100%;
		}
		
	}


	.gv-slide-item-text{
		position: absolute;
		bottom: 0px;
		left: 10px;
		width: 140px;
		height: 90px; 
		padding: 12px 24px 12px 12px;
		background-color: rgba(#000, 0.8);
		color:#FFF;

		h3{
			@include fs-header(1);

			width: 120px;
		}
		p{
			@include fs-textSans(3);
			width: 120px;

		}

		@include mq(desktop){
			bottom: 36px;
			left: 60px;
			width: 360px;
			height: $cappy-h-desktop; 
			padding: 12px 24px 12px 12px;
			background-color: rgba(#000, 0.8);
			color:#FFF;

			h3{
				@include fs-header(3);
			}
			p{
				@include fs-bodyCopy(3);
			}

			&.opening{
				left: 60px;
				bottom: -316px;

				&.ani{
					left: 60px;
					bottom: 36px;
					transition: 0.5s linear;
				}
				// -webkit-transition-property: bottom; /* Safari */
			 //    -webkit-transition-duration: 5s; /* Safari */
			 //    transition-property: bottom;
			 //    transition-duration: 5s;



			}
			
		}

	}
}

.gv-fade-out{
	position:absolute;
	top: 0;
	left:0;
	height: 100vh;
	width:100%;
	background-color:rgba(black,1);

	&.fade {
	  opacity: 0.75;
	  transition: opacity 1.5s linear;
	}

	&.remove {
	  visibility: hidden;
	  opacity: 0;
	  transition: visibility 0s 3s, opacity 3s linear;
	}
}
.gv-slide-wrapper, .gv-slides-container, .gv-slide-item{
	//max-height:852px;
}