$mobile-max-h: 400px;
$desktop-max-h: none;
$multimedia-main-2: #ffbb00;
$cappy-h-desktop: 216px;


.gv-slide-wrapper{
	position:relative;
	width:auto;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	background-color: #000;
	@include mq(desktop){
		overflow-x: hidden;
    	overflow-y: hidden;
	}
	
	&.fixed{
		position:fixed;
		top: 0;
	}
}

.gv-wrap-all{
	width:100%;
	overflow-x: hidden;
    overflow-y: hidden;
	
}

.gv-slides-container{
	position:relative;
	height: 100vh;
	padding-top:12px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    word-spacing:0;
    background-color:#000;
    transition-timing-function: ease-out;
  //transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  	transition: 0.25s;
    @include mq(desktop){
    	height: 100vh;
		overflow-x: hidden;
    	overflow-y: hidden;
	}	
}

.gv-slide-item{
	position: relative;
	display:inline-block;	
	width:auto;
	height: 100%;
	// max-height: $mobile-max-h;

	img{
		height:100%;
		
	}

	@include mq(desktop){
		//max-height: $desktop-max-h;
		img{
			height:100%;
		}
		
	}


	.gv-slide-item-text{
		position: absolute;
		bottom: 0px;
		left: 10px;
		height: 90px; 
		padding: 12px 24px 12px 12px;
		background-color: rgba(#000, 0.8);
		color:#FFF;

		h3{
			@include fs-header(1);

			width: 120px;
		}
		p{
			@include fs-textSans(3);
			width: 120px;

		}

		@include mq(desktop){
			bottom: 36px;
			height: $cappy-h-desktop; 
			padding: 12px 24px 12px 12px;
			background-color: rgba(#000, 0.8);
			color:#FFF;

			h3{
				@include fs-header(3);
			}
			p{
				@include fs-bodyCopy(3);
			}

			&.opening{
				bottom: -316px;

				&.ani{
					bottom: 36px;
					transition: 0.5s linear;
				}
				// -webkit-transition-property: bottom; /* Safari */
			 //    -webkit-transition-duration: 5s; /* Safari */
			 //    transition-property: bottom;
			 //    transition-duration: 5s;



			}

			&:before{
				content:'';
				position:absolute;
				width:70px;
				height:3px;
				top:0;
				left: 0;
				background-color: $multimedia-main-2;


			}
			
		}

	}
}

.gv-intro-panel{
	position:absolute;
	top: 0;
	left:0;
	height: 100%;
	width:100%;
	background-color:#000;

	&.fade-half {
	  background-color:rgba(#000, 0.8);
	  transition: background-color 1.5s linear;
	}

	&.fade-back-in{
	  visibility: visible;
	  background-color:rgba(#000,  0.8);
	  transition: visibility 0s 3s, opacity 3s linear;
	}

	&.fade-out {
	  visibility: hidden;
	  background-color:rgba(#000, 0);
	  transition: visibility 0s 3s, opacity 3s linear;
	}
}

.gv-intro-panel-text{
	margin-top:120px;

	h3{
		@include fs-headline(9);
		font-weight:300;	
	}

	p{
		@include fs-bodyCopy(3);
	}

	h5{
		@include fs-textSans(4);
	}

	h3,h5{
		color: $multimedia-main-2;
	}



}

.gv-slide-wrapper, .gv-slides-container, .gv-slide-item{
	//max-height:852px;
}

.gv-intro-panel-text, .gv-slide-item-text{

	margin-left:20px;
	color: #FFF;
	width:240px;

	@include mq(desktop){
		margin-left: 140px;
		width: 360px;
	}
	@include mq(leftCol){
		margin-left: 240px;
		width: 520px;
	}

	&.fade-back-in{
	  opacity: 1;
	  transition: opacity 1s linear;
	}

	&.fade-out {
	  opacity: 0;
	  transition: opacity 0.5s linear;
	}
	
}